/* ===common-link-start=== */
:root{
    
    --bg-btn-colo:#14173e;
    --white:#ffffff;
    --green:#09a473;
    --red:#ef4444;
    --black:#000000;
}
/* ====common-link-end== */
/* =======hero-start======== */
html {
    scroll-behavior: smooth;
}

html, body {
        width: 100%;
       overflow-x: hidden;
       overflow-y: auto;
}

body{
        margin: 0;
        padding: 0;
        font-family:Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
}
.hero{
    padding: 150px 0 0 0;
    position: relative;
    background:linear-gradient(to right,#1c1947,#020617) ;
    height:550px;
}
.container , .container2{
    width: 80%;
    margin: 0 auto;
}
.pi-button{
    overflow: hidden;
    display: flex;
    justify-content: center; 
}
.Pill_button{
    padding: 5px 20px;
    border-radius: 50px;
    background-color:var(--bg-btn-colo);
    border: 0.5px solid #4c5087;
    color:#ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 1em;
    font-family: Arial,sans-serif;
    cursor: pointer;
}
.ceo-pera p{
    margin: 30px 150px;
    text-align: center;
    color:var(--white);
    font-family: Hind Siliguri;
    font-size: 51px;
    line-height: 85px;
}
.ceo{
    color:var(--green);
}
.btn{
    display:flex;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.btn a{
    position: relative;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    background: #09a473;
    color: var(--white);
    text-align: center;
    font-family: Hind Siliguri;
    font-size: 22px;
    overflow: hidden;
}

.btn a:hover {
    animation: zoomPulse 1s infinite ease-in-out;
}

/* zoom in & zoom out keyframes */
@keyframes zoomPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}



.builder-btn-icon{
    padding: 8px;
}
.p-txt{
    margin-right: 27px;
    display: flex;
    justify-content: center;
}
.p-txt ul{
    margin: 4px 0 50px 0;
    display: inline-block;
}
.p-txt ul li{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

}

.p-txt ul li::marker {
    font-size: 25px;
    color:var(--green);
}
.devider{
   margin: 0 100px; 
   border: none;
   background: var(--white);
   height: 0.1px;
}
.p-text {
    margin: 10px;
    display: flex;
    justify-content: center;
    

}
.p-text a {
    text-align: center;
    text-decoration: none;
    color: var(--white);
    

}
.wave {
  position: absolute;        
  bottom: 0;                 
  left: 0;
  width: 100%;              
  height: 60px;            
  z-index: 1;               
}
.builder-shape-fill{
  fill: #ffffff;
}
/* ========hero-end========== */
/* ======marketing-start======= */
.marketing{
   
}
.container{
    overflow: hidden;
    
}
.Pill_button2{
    padding: 5px 20px;
    border-radius: 50px;
    background-color:rgba(147, 51, 234, 0.10);;
    border: 0.5px solid #d1fae5;
    color:var(--red);
    display: inline-block;
    font-size: 14px;
    font-weight: 1em;
    font-family: Arial,sans-serif;
    cursor: pointer;
}
.ceo-pera2 p{
    text-align: center;
    color:var(--black);
    font-family: Hind Siliguri;
    font-size: 51px;
    line-height: 85px;
}
.ceo2{
    color:var(--green);
}
.blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.Blog-1{
    margin: 20px 10px 30px 10px;   
    width:30.33%;
    border-top: solid 5px #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(142, 142, 142, 0.20);
    text-align: center;
    box-sizing: border-box;
 
    transition: transform 0.35s ease-in-out;
   

}
.Blog-1:hover {
    transform: scale(0.80);
}
.icon-1{
 
    background-color: #ff810b;
    color: var(--white);
    font-size:30px;
    padding:25px;
    border: solid 5px #e9e9e9;
    border-radius: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    will-change: transform;

}
.Blog-1:hover .icon-1 {
    animation: zoomPulse 1s infinite ease-in-out;
}
/* zoom in & zoom out keyframes */
@keyframes zoomPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
.text-1{
    text-align: center;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 10px;
    color: #000000;
    font-family: Hind Siliguri;
    font-size: 25px;
}
.blog-wrapper{
    overflow: hidden;
}
.blog-2{
    border-top: solid 5px var(--green); 
}
.icon-2{
    background-color: var(--green);
}
.blog-3{
    border-top: solid 5px #ff005a; 
}
.icon-3{
    background-color:#ff005a;
}
.blog-4{
   border-top: solid 5px #01bbe9; 
}
.icon-4{
  background-color:#01bbe9;
}
.blog-5{
   border-top: solid 5px #bf00d7; 
}
.icon-5{
   background-color:#bf00d7;
}
.blog-6{
   border-top: solid 5px #780fbb; 
}
.icon-6{
   background-color:#780fbb;
}
.btn2{
    margin-bottom: 100px;
}
/* =========marketing-end====== */
/* ==========watch-video-start========== */
.watch-video{
    padding: 50px 0 0 0;
    position: relative;
    background:linear-gradient(to right,#1c1947,#020617) ;
    height:1200px;
}
.ceo-pera4 p{
    text-align: center;
    color:var(--white);
    font-family: Hind Siliguri;
    font-size: 30px ;
    line-height: 55px;
}
.video-card{
    position: relative;
    padding-top: 56.25%;
}
.video-card iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.btn3{
    margin-top: 30px;

}
/* =====watch-video-end========== */
/* ==========faq-section-start===== */
.faq-section {
    padding: 100px;
     font-family: Hind Siliguri;
    font-size: 18px !important;
}

.faq-item {
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.faq-item:hover {
  background-color: #f5f5f5;
}

.faq-question {
  width: 100%;
  border: none;
  background: none;
  padding: 18px 20px;
  font-size: 18px;
  font-family: "Hind Siliguri", sans-serif;
  color: #444;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.faq-question:hover {
  color: var(--green);
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-answer {
  background-color: var(--white);
  max-height: 0;
  opacity: 0;
  transform: translateY(-8px);
  overflow: hidden;
  transition: 
    max-height 0.5s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
}

.faq-answer p {
  padding: 0 20px 20px;
  font-size: 15px;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.faq-item.active .icon {
  transform: rotate(180deg);
}
/* ==========faq-section-end===== */

.headline{
    margin-bottom: 30px;
    background-color: var(--green);

}
.headline p{
    color: var(--white);
    font-family: Hind Siliguri ;
    font-size: 42px;
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* ========form-start====== */
.form-wrapper{
    max-width:900px;
    margin:auto;
    border:1.5px solid #7c3aed;
    border-radius:10px;
    padding:30px 40px 40px;
    background:#fff;
}

h2{
    text-align:center;
    font-size:32px;
    margin-bottom:35px;
     font-family: Hind Siliguri ;
}

.form-group{
    color: #333;
    margin-bottom:22px;
    position:relative;
    font-size: 15px;
    font-family: Hind Siliguri ;
}

label{
    font-weight:600;
    display:block;
    margin-bottom:8px;
}

input, textarea{
    width:95%;
    padding:14px 15px;
    border-radius:6px;
    border:1px solid #cbd5e1;
    font-size:15px;
    outline:none;
}

input:invalid:not(:focus):not(:placeholder-shown),
textarea:invalid:not(:focus):not(:placeholder-shown){
    border-color:#fb7185;
}


.form-group input:invalid:not(:focus):not(:placeholder-shown) + .error-icon,
.form-group textarea:invalid:not(:focus):not(:placeholder-shown) + .error-icon{
    display:block;
}

.error-icon{
    display:none;
    position:absolute;
    right:12px;
    top:44px;
    color:#fb7185;
    font-weight:bold;
}


.error-text{
    display:none;
    font-size:13px;
    color:#fb7185;
    margin-top:6px;
}

input:invalid:not(:focus):not(:placeholder-shown) ~ .error-text,
textarea:invalid:not(:focus):not(:placeholder-shown) ~ .error-text{
    display:block;
}

textarea{
    resize:none;
    height:120px;
}

.submit-btn{
    width:100%;
    padding:16px;
    font-size:17px;
    font-weight:600;
    color:#fff;
    border:none;
    border-radius:8px;
    background:linear-gradient(to right,#10b981,#22d3ee);
    cursor:pointer;
    margin-top:15px;
}
.meeting-form{
   margin-top: 100px; 
}
/* ======form-end============ */
/* ====map-start====== */
.ceo-pera5 p{
    text-align: center;
    color: #353535;
    font-family: Hind Siliguri !important;
    font-size: 30px !important;
}
.map{
    margin-bottom: 100px;
}
